@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

body {
    font-family: Arial, sans-serif;
    background-color: #F9F9F9;
    background-image: url(../img/pokemon-walpaper.jpg);
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
    font-size: 18px;
}

h1 {
    color: #FF0000;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Pokemon Solid', sans-serif;
    margin-bottom: 40px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    animation: animateTitle 1.5s ease-in-out infinite;
}

@keyframes animateTitle {
    0% { color:#FF0000; }
    50% { color:#FFD700; }
    100% { color: #FF0000; }
}

.campo {
    font-family: 'Verdana', sans-serif;
    letter-spacing: 1px;
    text-align: left;
    border: 3px solid #FFD700;
    background-color: rgba(255, 215, 0, 0.4);
    color: #FF0000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px 30px;
    font-size: 20px;
    margin-bottom: 20px; 
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s ease;
    position: relative;
    z-index: 1;
    background: linear-gradient(135deg, rgba(255, 215, 0, 0.7), rgba(255, 140, 0, 0.5));
}

.campo:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

footer {
    font-family: 'Pokemon Solid', sans-serif;
    color: #FF0000;
    margin-top: 50px;
    font-size: 16px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

footer a {
    color: #FFD700;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FF0000;
}